
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}

#header{
	position: absolute;
	top: 0px;
}
body{
	background-image: url(../img/background.png);
	background-position: top right ;
	background-size: auto;
	background-repeat: no-repeat;
}
.nose_ve{
	display: none;
}
.header_uno{
	height: 28px;
	width: 98px;
	color: #FFFFFF;
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	position: absolute;
	right: 7%;
	margin-top: 1%;
}
.header_uno:hover{
	color:  #FFFFFF;
	font-weight: bold;
}
.header_dos{
	height: 28px;
	width: 98px;
	color: #FFFFFF;
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	position: absolute;
	right: 15%;
	margin-top: 1%;
}
.header_dos:hover{
	color:  #FFFFFF;
	font-weight: bold;
}
.contenedor_botones{
	margin-top: 223px;
	margin-bottom: 20px;
	border-radius: 30px;
	background-color: #FFFFFF;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
}

.textouno {
	margin-top: 240px;
	margin-bottom: 10px;
	height: 122px;
	width: 553px;
	color: rgba(0,0,0,0.87);
	font-family: "Montserrat";
	font-size: 55px;
	font-weight: 800;
	line-height: 61px;
}
.quienes_somos{
	margin-top: 281px;
	margin-bottom: 20px;
	color: rgba(0,0,0,0.87);
	font-family: "Montserrat";
	font-size: 55px;
	font-weight: 800;
	line-height: 61px;
}
.textodos {
	height: 90px;
	width: 536px;
	color: rgba(0,0,0,0.87);
	font-family: "Montserrat";
	font-size: 17px;
	font-weight: 300;
	line-height: 27px;
}
.botones_home_uno{
	margin-top:30px;
	box-sizing: border-box;
	height: 43px;
	width: 197px;
	border: 2px solid #3972FC;
	border-radius: 80px;
	background-color: #FFFFFF;
}
.botones_home_uno:hover .ver_todo{
	color:  #153EA2;
}
#vt:hover{
	background-color: white;
	border-color:  #153EA2;
}
.botones_home_dos{
	margin-top: 30px;
	box-sizing: border-box;
	height: 43px;
	width: 197px;
	border-radius: 80px;
	background-color: #3972FC;
	margin-left: 15px;
}
.botones_home_dos:hover{
	background-color: #153EA2;
}
.botones_inicio{
	margin-left: 4px;
}

.ver_todo {
	height: 20px;
	width: 62px;
	color: #3972FC;
	font-family: "Montserrat";
	font-size: 15px;
	font-weight: 800;
	line-height: 20px;
	margin: 0 auto;
	margin-top: 7px;
}

.sos {
	height: 20px;
	width: 52.6px;
	color: #FFFFFF;
	font-family: "Montserrat";
	font-size: 15px;
	font-weight: 800;
	line-height: 20px;
	margin: 0 auto;
	margin-top: 9px;
}
.main_index{
	position: relative;
	top: 100px;
}

.cuadrado {
	width: 100%;
	height:250px;
	border-radius: 30px;
	background-color: #FFFFFF;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
	text-align: center
}
.pad{
	padding: 15px;

}
.cuadrado:hover{
	border: 2px solid #3972FC;
}
.cuadrado:hover h2{
	color: #3972FC;
}
.imagen_cuadrado{
	display: block;
	margin: 0 auto;
	position: relative;
	top: 40px;
	width: 50%;
}
.margen_cuadrado{
	margin-top: 120px;
}
.letras_cuadrados {
	height: 24px;
	width: 133px;	color: #ACACAC;
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2.14px;
	line-height: 24px;
	margin: 0 auto;
	position: relative;
	top: 35px;
}
.margen_cuadrado_lubri{
	margin-left: 35px;
}
.margen_cuadrado_autor{
	margin-left: 50px;
}
div a:hover{
	text-decoration:none;
}
@media (max-width: 1200px) {
	body {
		background-size: 80%;
	}
	.textouno{
		height: 84px;
		width: 369px;
		font-size: 40px;
		line-height: 42px;
		margin: 0 auto;
		margin-top: 100px;
		text-align: center;
	}
	.textodos{
		display: none;
	}
	.botones_inicio{
		display: none;
	}
	.margen_cuadrado_lubri{
		left: 10px;
	}
	.margen_cuadrado_autor{
		left: 10px;
	}
	.vtdos{
		display: inherit;
	}
	#vtdos:hover{
		background-color: white;
		border-color:  #153EA2;
	}
	.vtdos{
		margin: 0 auto;
		margin-right: 50px;
		margin-top: 43px;
	}
	.main_index{
		position: relative;
		margin: 0 auto;
		top: 30px;
	}
	.cuadrado{
		height:282px;
	}
	.header_dos{
		right:  15%;
	}
	footer{
		position: relative;
		margin-top: 50px;
	}
}
@media (max-width:992px) {
	.textodos{
		display: none;
	}

	.botones_inicio{
		display: none;
	}
	.vtdos{
		display: inherit;
	}
	#vtdos:hover{
		background-color: white;
		border-color:  #153EA2;
	}
	.vtdos{
		text-align: center;
	}
	.margen_cuadrado_lubri{
		left: -30px;
	}
	.margen_cuadrado_autor{
		left: -25px;
	}
	.cuadrado{
		height:230px;
		overflow: hidden;
	}
	.header_dos{
		right:  20%;
	}
	footer{
		position: relative;
		margin-top: 50px;
	}
}
@media (max-width:766px) {
	.header_uno{
		display: none;
	}
	.header_dos{
		display: none;
	}
	.botones_home_uno{
		margin-left: 15px;
	}
	.margen_cuadrado_lubri{
		left: -15px;
	}
	.margen_cuadrado_autor{
		left: -15px;
	}
	.footer {
		font-size: 80%;
	}
}
@media (max-width: 576px){
	.pad{
		width: 50%;
	}
	.margen_cuadrado_lubri{
		left: -5px;
		font-size: 110%;
	}
	.margen_cuadrado_autor{
		left: -10px;
	}
}
@media (max-width: 425px){
	.margen_cuadrado_lubri{
		left: -25px;
		font-size: 110%;
	}
	.margen_cuadrado_autor{
		left: -35px;
	}
	.cuadrado{
		height: 190px;
	}
}